@import '../../Styles/mixins';

.siteHeader {
  @include glassmorphism();
  position: fixed;
  top: 0px;
  width: var(--chakra-sizes-full);
  min-height: 60px;
  z-index: 999;

  .siteHeaderContain {
    display: flex;
    justify-content: space-between;
    .logoBtn{
      display: flex;
      gap: 1em;
     align-items: center;
    }
    .mobileIconBtn {
      display: flex;
      gap: 1em;
    }
    .desktopIconBth {
      display: flex;
      align-items: center;
      gap: 1em;
      .inputSearch{
        input{
          border-radius: 20px;
        }
      }
    }
    .footAirLogo {
      width: 8rem;
      height: 5rem;
    }
  }
}
.mobelLogoMobile{
  width: 100px;
}
@media all and (min-width: 600px) {
  .siteHeaderContain {
    .mobileIconBtn {
      display: none !important;
    }
  }
}
@media all and (max-width: 600px) {
  .siteHeaderContain {
    .desktopIconBth, .logoAction{
      display: none !important;
    }
  }
}

