.siteHeader {
  position: fixed;
  top: 0px;
  width: var(--chakra-sizes-full);
  min-height: 60px;
  box-shadow: var(--chakra-shadows-sm);
  z-index: 999;
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  .siteHeaderContain {
    display: flex;
    justify-content: space-between;
    .mobileIconBtn {
      display: flex;
      gap: 1em;
    }
    .desktopIconBth {
      display: flex;
      gap: 1em;
    }
    .footAirLogo {
      width: 8rem;
      height: 5rem;
    }
  }
}
@media all and (min-width: 600px) {
  .siteHeaderContain {
    .mobileIconBtn {
      display: none !important;
    }
  }
}
@media all and (max-width: 600px) {
  .siteHeaderContain {
    .desktopIconBth {
      display: none !important;
    }
  }
}

